#kioskodefrente {
    display: block;
    margin: auto;
    border: 2px solid grey;
}
#kioskodefrente2 {
    display: block;
    margin: auto;
    border: 2px solid grey;

}
#kioskodefrente3{
    display: block;
    margin: auto;
    border: 2px solid grey;
}