#kioskodefrente {
    width: 300px;
    height: 350px;
    display: block;
    margin: auto;
    border: 2px solid grey;
}
#kioskodefrente2 {
    width: 1024;
    height: 350px;
    display: block;
    margin: auto;
    border: 2px solid grey;
    
}
#kioskodefrente3{
    width: 1024;
    height: 350px;
    display: block;
    margin: auto;
    border: 2px solid grey;
}





#logo-kiosko{
    width: 150;
    height: 100px;
    display: block;
    margin: auto;
    border: 2px solid grey; 
}
#nomkiosko{ 
    width: 300px;
    margin: 20px auto;
    background-color: #7FFF00 ;
    border: 2px solid grey;
    position: relative;
    color: white;
    animation-duration: 10s;
    animation-name: titulo;
}
    @keyframes titulo {
        from {
            
            width: 100%;
        }
        to {
            font-size: 10 px;
        }
    }
#mapas{
        width: 1024;
        height: 350px;
        display: block;
        margin: auto;
        border: 2px solid grey;
}

h3{
    width: 300px;
    background-color: #7FFF00 ;
    border: 2px solid grey;
    position: relative;
    color: white;
}

#horarios{
    position: relative;
    top: -20px;
    color: #000;
}
#productos{
    color: #000;
    
}





#ubicacion{
    color: #111;
}
#pie-pag{
color: black;
}
#boton-ubicacion{
    display: block;
    margin: auto;
    color: #000 ;
}
body {
    
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReWY7YCkhpgMLPqsxorCLG8CrcVVjDXIZtDA&usqp=CAU");
    background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}
#botones{
    top: -20px;
    position: center;
}
h6 {
    text-align: center;
    margin: auto;



}
#color-sticky-top{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReWY7YCkhpgMLPqsxorCLG8CrcVVjDXIZtDA&usqp=CAU");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}

.parent {
    display: grid;
    grid-template-columns: 1fr repeat(4, 0);
    grid-template-rows: 0.3fr repeat(4, 0.5fr) 0.2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 3 / 1 / 4 / 2; }
    .div4 { grid-area: 4 / 1 / 5 / 2; }
    .div5 { grid-area: 5 / 1 / 6 / 2; }
    .div6 { grid-area: 6 / 1 / 7 / 2; }